@model loja.Models.Loja

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar">

        <nav>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("categoria", "Home")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Relatórios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            Produtos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            Gráficos
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

    </div>



    <div class="col-md-10">


        @(Html.Kendo().Grid<loja.Models.Produto>()
                                      .Name("grid")
                                      .Columns(columns =>
                                      {
                                          columns.Bound(p => p.nome).Title("Titulo"); ;
                                          columns.Bound(p => p.preco).Title("Preço");
                                          columns.Bound(p => p.percentual).Title("Desconto");
                                        
                                      })
                                      .ToolBar(toolbar => { toolbar.Create(); toolbar.Save(); })

                                      .Editable(editable => editable.Mode(GridEditMode.InCell))
                                  .Pageable()
                                  .Sortable()
                                  .Scrollable()
                                  .Filterable()
                                  .HtmlAttributes(new { style = "height:720px;" })
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .Batch(true)
                                      .ServerOperation(false)
                                      .PageSize(20)
                                      .Read(read => read.Action("pregarProdutos", "Home", new { idLoja = 5 }))
                                      .Create(create => create.Action("EditingCustom_Create", "Home"))
                                       .Update(update => update.Action("EditingCustom_Update", "Home"))
                                     .Model(model => model.Id(p => p.id))
                                   )
        )
    </div>
</div>


<script>
    function onClose() {
        $("#undo").show();
    }
    function showDetails() {

    }
    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").open();
            $("#undo").hide();
        });
    });
    $("#customCommand").click(function (e) {
        e.preventDefault();
        var dialog = $("#window").data("kendoWindow");
        dialog.open();
        dialog.center();


    });


</script>

